﻿
@model PagedList.IPagedList<SAR.Models.Offense>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<title>Главная</title>
@{
    ViewBag.Title = "Реестр";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<style>
    tr {
        background-color: white;
        color: black;
    }
</style>

<hr />
<div class="container">
    <div class="row">
        <div class="col">
            <a href='@Url.Action("Create", "Offenses")'>
                <input type="button" value='Добавить пункт' class="btn btn-dark" />
            </a>
        </div>
        <div class="col-md-auto">
            @using (Html.BeginForm("Index", "Offenses", FormMethod.Get))
            {
            <div class="text-light">
                Поиск по предписанию или отв.лицу: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                <input type="submit" value="Искать" class="btn btn-dark" />
            </div>
            }
        </div>
    </div>
</div>

<table class="table table-bordered">
    <thead class="table table-dark ">
        <tr>
            <th>
                @Html.ActionLink("№", "Index", new { sortOrder = ViewBag.NumberSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Бригада", "Index", new { sortOrder = ViewBag.BrigadeSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Дата выдачи", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                Предписание
            </th>
            <th>
                @Html.ActionLink("Ответственное лицо", "Index", new { sortOrder = ViewBag.PersonSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Назначенная дата устранения", "Index", new { sortOrder = ViewBag.ReqSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                Дней осталось/просрочено
            </th>
            <th class="col-md-auto">
                Статус
            </th>
            <th>
                Комментарий
            </th>
            <th>
                Действия
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.Brigade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td class="text-left font-italic font-weight-light">
                @Html.DisplayFor(modelItem => item.Prescription)
            </td>
            <td class="text-center font-weight-light">
                @Html.DisplayFor(modelItem => item.ResponsiblePerson)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.RequiredDate)
            </td>
            @{
                TimeSpan date = (item.RequiredDate).Subtract(DateTime.Now.Date);
                string res;
                if (date.TotalDays >= 0)
                {
                    res = "+" + date.TotalDays;
                    <td class="alert alert-success text-right">
                        @Html.DisplayFor(modelItem => res)
                    </td> }
                else
                {
                    res = date.TotalDays.ToString();
                    <td class="alert alert-danger text-right">@Html.DisplayFor(modelItem => res)</td>
                }
            }
            <td class="col-md-auto">@Html.DisplayFor(modelItem => item.Status)</td>
            <td class="text-left font-italic font-weight-light">@Html.DisplayFor(modelItem => item.Comment)</td>
            <td>
                <a href="@Url.Action("Edit", "Offenses", new { id = item.Id })">
                    <img src="~/Content/Image/edit.png" alt="Изменить" title="Изменить" width="20" height="20">
                </a>
                <a href="@Url.Action("Details", "Offenses", new { id = item.Id })">
                    <img src="~/Content/Image/details.png" alt="Детали" title="Детали" width="20" height="20">
                </a>
                <a href="@Url.Action("Delete", "Offenses", new { id = item.Id })">
                    <img src="~/Content/Image/delete.png" alt="Удалить" title="Удалить" width="20" height="20">
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

