﻿@model IEnumerable<SAR.Models.Offense>

<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brigade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResponsiblePerson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequiredDate)
            </td>
            @{
                TimeSpan date = (item.RequiredDate).Subtract(item.ActualDate);
                string res;
                if (date.TotalDays > 0)
                {
                    res = "+" + date.TotalDays;
                    <td class="alert alert-success">
                        @Html.DisplayFor(modelItem => res)
                    </td> }
                else
                {
                    res = date.TotalDays.ToString();
                    <td class="alert alert-danger">@Html.DisplayFor(modelItem => res)</td>
                }
            }
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
        </tr>
                }
    </table>