﻿@model IEnumerable<SAR.Models.Offense>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
@Scripts.Render("~/Scripts/yourScript.js")
@{
    ViewBag.Title = "Stat";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<title>Статистика</title>
<style>
    h4 {
        color: darkred; /* Цвет текста */
    }

    h3 {
        color: black; /* Цвет текста */
    }
</style>

<h2>Статистика</h2>



@{
    int countOpen = 0;
    int countOffense = 0;

    foreach (var item in Model)
    {
        if ((item.Status == false))
        {
            countOpen += 1;
        }
        if (item.ActualDate.Day < item.RequiredDate.Day)
        {
            countOffense += 1;
        }
    } }
<table class="table">
    <tr>
        <th>
            <h4>Предписаний всего:</h4>
        </th>
        <th align="left"><h3>@Model.Count()</h3> </th>
        <th>
            <h4>Не выполнено:</h4>
        </th>
        <th align="left"><h3>@countOpen</h3></th>
        <th>
            <h4>Просрочено:</h4>
        </th>
        <th align="left"><h3>@countOffense</h3></th>
</table>

<hr />
<div style="height: 500px;" id="cont_five"></div>
<hr />
<div id="cont_one" style="height: 370px; width: 100%;"></div>
<hr />
<div style="height: 500px;" id="cont_two"></div>
<hr />
<div style="height: 500px;" id="cont_three"></div>

<script type="text/javascript">

    window.onload = function () {
        var chart1 = new CanvasJS.Chart("cont_one", {
            animationEnabled: true,
            title: {
                text: "Открыто-просрочено:"
            },
            toolTip: {
                shared: true
            },
            axisY: {
                title: "Предписаний"
            },
            legend: {
                cursor: "pointer",
                verticalAlign: "center",
                horizontalAlign: "right",
                itemclick: toggleDataSeries
            },
            data: [{
                type: "stackedColumn",
                name: "Просрочено",
                color: "rgba(255, 0, 0, .7)",
                showInLegend: "true",
                dataPoints: @Html.Raw(ViewBag.DataPointsExpired)
	},
            {
                type: "stackedColumn",
                name: "Не закрыто",
                color: "rgba(0, 128, 0, .7)",
                showInLegend: "true",
                dataPoints: @Html.Raw(ViewBag.DataPointsOpen)
	}]
        });
        var chart2 = new CanvasJS.Chart("cont_two", {
            theme: "theme1",
            animationEnabled: true,
            title: {
                text: "Распределение по объектам:"
            },

            data: [
                {
                    type: "bar", //change type to column, bar, line, area, pie, etc
                    dataPoints: @Html.Raw(ViewBag.DataPointsObject)
                }
            ]

        });
        var chart3 = new CanvasJS.Chart("cont_three", {
            theme: "theme1",
            animationEnabled: true,
            title: {
                text: "Области нарушений:"
            },

            data: [
                {
                    type: "pie", //change type to column, bar, line, area, pie, etc
                    dataPoints: @Html.Raw(ViewBag.DataPointsHeading)
                }
            ]

        });

        var chart5 = new CanvasJS.Chart("cont_five", {
            theme: "theme1",
            animationEnabled: true,
            title: {
                text: "Предписаний в бригадах:"
            },

            data: [
                {
                    type: "column", //change type to column, bar, line, area, pie, etc
                    dataPoints: @Html.Raw(ViewBag.DataPoints)
                }
            ]

        });
        chart1.render();
        chart5.render();
        chart2.render();
        chart3.render();
    }
        function toggleDataSeries(e) {
            if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                e.dataSeries.visible = false;
            }
            else {
                e.dataSeries.visible = true;
            }
            chart.render();
        }



</script>
