﻿@model SAR.Models.LoginModel

@{
    ViewBag.Title = "Вход";
    Layout = "~/Views/Shared/_Layout - Account.cshtml";
}

<h2 class="text-center text-light">Вход в систему</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="container-fluid text-center text-light">
        @Html.ValidationSummary()
        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
        <p>
            <label>Email</label><br />
            @Html.EditorFor(x => x.Email)
        </p>
        <p>
            <label>Пароль</label><br />
            @Html.EditorFor(x => x.Password)
        </p>
        <p><button type="submit">Войти</button></p>
    </div>
}

