﻿@model SAR.Models.RegisterModel

@{
    ViewBag.Title = "Регистрация";
    Layout = "~/Views/Shared/_Layout - Account.cshtml";
}

<h2 class="container-fluid">Регистрация пользователя</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div>
    <hr />
    @Html.ValidationSummary(false)

    <div class="text-light">
        Электронный адрес
        <div>
            @Html.EditorFor(model => model.Email)
        </div>
    </div>

    <div class="text-light">
        Занимаемая должность
        <div>
            @Html.EditorFor(model => model.Position)
        </div>
    </div>

    <div class="text-light">
        Роль пользователя
        <div>
            @Html.DropDownList("UserRoles", (SelectList)ViewBag.Name, " ")
        </div>
    </div>
    <div class="text-light">
        Пароль
        <div>
            @Html.EditorFor(model => model.Password)
        </div>
    </div>

    <div class="text-light">
        Подтвердить пароль
        <div>
            @Html.EditorFor(model => model.PasswordConfirm)
        </div>
    </div>

    <div>
        <div>
            <input type="submit" value="Зарегистрировать" />
        </div>
    </div>
    @Html.ActionLink("Войти", "Login")
</div>
}

