﻿body {
   
}

nav {
    display: block;
}

.menu {
    padding-left: 10px;
}

    .menu ul {
        list-style: none;
    }

    .menu li {
        display: inline;
    }

    .menu a:hover {
        color: red;
    }

table {
    vertical-align: middle;
    text-align: left;
    background-color:gray;
}

.header {
    font-weight: bold;
}


input {
    width: 150px;
}


.col1 {
    background-color: green;
    padding-right: 10px;
    color:blue;
}

.col2 {
    background-color: red;
    padding-right: 10px;
}

tr {
    text-align: center;
}