﻿@model IEnumerable<ApplicationRole>

    @{
        ViewBag.Title = "Роли";

        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Роли</h2>
    <table class="table">
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>

